<xf:title>{$log.method} - {$log.end_point}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:formrow label="{{ phrase('tapi_log_request_user') }}">{{ $log.User ? $log.User.username : '' }}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_app_version') }}">{$log.app_version}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_user_device') }}">{$log.user_device}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_request_method') }}">{$log.method}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_end_point') }}">{$log.end_point}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_payload') }}">{{ dump($log.payload) }}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_response_code') }}">{$log.response_code}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_response') }}">{{ dump($log.response) }}</xf:formrow>
            <xf:formrow label="{{ phrase('tapi_log_log_date') }}"><xf:date time="$log.log_date"/></xf:formrow>
        </div>
    </div>
</div>