<xf:title>{{ phrase('tapi_iap_products') }}</xf:title>

<xf:pageaction>
    <xf:button href="{{ link($linkPrefix . '/add') }}" icon="add">{{ phrase('tapi_iap_product_add') }}</xf:button>
</xf:pageaction>

<xf:if is="$total > 0">
    <xf:form action="{{ link($linkPrefix . '/toggle') }}" ajax="true" class="block">
        <div class="block-container">
            <div class="block-body">
                <xf:datalist>
                    <xf:foreach loop="$products" value="$product">
                        <xf:datarow>
                            <xf:main href="{{ link($linkPrefix . '/edit', $product) }}"
                                     label="{$product.title}"
                                     snippet="{$product.platform} - {$product.store_product_id}"
                            />
                            <xf:toggle name="active[{$product.product_id}]" selected="{$product.active}"
                                       class="dataList-cell--separated" submit="true"
                                       tooltip="{{ phrase('enable_disable_x', {'title': $product.title}) }}" />
                            <xf:delete href="{{ link($linkPrefix . '/delete', $product) }}" />
                        </xf:datarow>
                    </xf:foreach>
                </xf:datalist>

                <div class="block-footer">
                    <span class="block-footer-counter">{{ display_totals($products, $total) }}</span>
                </div>
            </div>
        </div>
    </xf:form>
<xf:else />
    <div class="blockMessage">{{ phrase('no_items_have_been_created_yet') }}</div>
</xf:if>